footer {
    width: 100%;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    .subscribe {
        background: #f2f2f2;
        width: 100%;
        padding: 2em 1.5em;
        border-bottom: 1px solid #898b8e;
        .subscribe-text {
            font-size: 1em;
            text-align: center;
            line-height: 1.5;
            margin-bottom: .75em;
            letter-spacing: .3px;
            color: #131313;
        }
        .input-container {
            display: flex;
            
            .input-box {
                width: calc(100% - 70px);
                display: inline-block;
                position: relative;
                input {
                    padding: 11px 9px;
                    background: #fff;
                    border: 1px solid #898b8e;
                    font-size: 16px;
                    font-weight: 400;
                    position: relative;
                    max-height: 40px;
                    height: auto;
                    width: 100%;
                }
            }

            button {
                padding: 0;
                width: 70px;
                text-align: center;
                height: 40px;
                font-size: .75em;
                letter-spacing: .1em;
                text-transform: uppercase;
                cursor: pointer;
                background: #131313;
                border: 1px solid #131313;
                color: #fff;
            }
        }
    }

    .refer-container {
        padding: 2em 1.75em;
        text-align: center;
        background: #f2f2f2;
        .block-container {
            margin: 0 auto;
            p.refer-text {
                color: #000;
                text-align: center;
                font-size: 1em;
                line-height: 1.5;
                letter-spacing: .3px;
            }

            a.refer-link {
                width: 100%;
                margin-top: 1em;
                line-height: 2.5;
                font-size: .75em;
                letter-spacing: .1em;
                text-transform: uppercase;
                background: #131313;
                border: 1px solid #131313;
                font-weight: 600;
                padding: 0 2em;
                color: #fff;
                text-decoration: none;
                height: 4em;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .links-container {
        display: flex;
        flex-direction: column;
        .download-app-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 30px 25px;
            border-bottom: 1px solid #c6c8ca;
            margin-bottom: 2em;

            .title {
                font-size: 1em;
                font-weight: 600;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                margin-bottom: 1em;
                text-align: center;
            }
            .button-container {
                text-align: center;
                width: 100%;
                display: flex;

                a {
                    img {
                        width: 100%;
                        max-width: 135px;
                    }
                }
                .itunes-btn {
                    margin: .5em 1em 0 .3em;
                }
                
                .googleplay-btn {
                    img {
                        max-width: 150px;
                    }
                }
            }
        }
        .footer-navigation {
            width: 100%;
            display: flex;
            padding: 0 25px;
            .links {
                width: 50%;
                .links-title {
                    margin-bottom: 1.25em;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1.8px;
                    font-size: 1em;
                    color: #131313;
                }
                ul {
                    list-style: none;
                    li {
                        letter-spacing: .3px;
                        margin-bottom: 1em;
                        a {
                            text-decoration: none;
                            color: #898b8e;
                        }                    
                    }
                }
            }
        }
        .social-media-container {
            padding: 30px 25px;
            margin: 1.25em 0;
            border-top: 1px solid #c6c8ca;
            border-bottom: 1px solid #c6c8ca;
            .title {
                margin-bottom: 1em;
                font-size: 1em;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                font-weight: 600;
                text-align: center;
                color: #131313;
            }
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-between;

                li {
                    a {
                        text-decoration: none;
                        color: #656565;
                        &:hover {
                            color: #A41D23;
                        }
                        i.fab {
                            font-weight: 400;
                            font-size: 1.25em;
                        }
                    }
                }
            }
        }
        .site-map {
            padding: 0 25px;
            .links {
                width: 100%;
                ul {
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    li {
                        margin-bottom: 20px;
                        color: #898b8e;
                        letter-spacing: .3px;
                        width: 100%;

                        a {
                            text-decoration: none;
                            font-size: 1em;
                            cursor: pointer;
                            color: #898b8e;
                            &:hover {
                                color: #A41D23;
                            }
                        }
                    }
                }
            }
        }
    }
}