footer {
    width: 100%;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    .subscribe {
        background: #f2f2f2;
        width: 100%;
        padding: 2em 1.5em;
        .subscribe-text {
            font-size: 16px;
            text-align: center;
            line-height: 1.5;
            margin-bottom: .75em;
            letter-spacing: .3px;
            color: #131313;
        }
        .input-container {
            display: flex;
        }
    }
}