footer {
    width: 100%;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    .subscribe {
        background: #f2f2f2;
        width: 100%;
        padding: 8vw 6.6667vw;
        border-bottom: 1px solid #898b8e;
        .subscribe-text {
            font-size: 4.267vw;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 3.2vw;
            letter-spacing: .3px;
            color: #131313;
        }
        .input-container {
            display: flex;
            
            .input-box {
                width: calc(100% - 70px);
                display: inline-block;
                position: relative;
                input {
                    padding: 2.933vw 2.4vw;
                    background: #fff;
                    border: 1px solid #898b8e;
                    font-size: 4.267vw;
                    font-weight: 400;
                    position: relative;
                    max-height: 40px;
                    height: auto;
                    width: 100%;
                }
            }

            button {
                padding: 0;
                width: 70px;
                text-align: center;
                height: 40px;
                font-size: .75em;
                letter-spacing: .1em;
                text-transform: uppercase;
                cursor: pointer;
                background: #131313;
                border: 1px solid #131313;
                color: #fff;
            }
        }
    }

    .refer-container {
        padding: 8vw 6.6667vw;
        text-align: center;
        background: #f2f2f2;
        .block-container {
            margin: 0 auto;
            p.refer-text {
                color: #000;
                text-align: center;
                font-size: 4.267vw;
                line-height: 1.5;
                letter-spacing: .3px;
            }

            a.refer-link {
                width: 100%;
                margin-top: 4.627vw;
                line-height: 2.5;
                font-size: 3.2vw;
                letter-spacing: .1em;
                text-transform: uppercase;
                background: #131313;
                border: 1px solid #131313;
                font-weight: 600;
                padding: 0 6.4vw;
                color: #fff;
                text-decoration: none;
                height: 12.8vw;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .links-container {
        background: #fff;
        display: flex;
        flex-direction: column;
        .download-app-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 8vw 6.6667vw;
            border-bottom: 1px solid #c6c8ca;
            margin-bottom: 8.533vw;

            .title {
                font-size: 4.267vw;
                font-weight: 600;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                margin-bottom: 4.267vw;
                text-align: center;
            }
            .button-container {
                text-align: center;
                width: 100%;
                display: flex;
                justify-content: center;

                a {
                    img {
                        width: 100%;
                        max-width: 135px;
                    }
                }
                .itunes-btn {
                    margin: 2.133vw 4.267vw 0 1.28vw;
                }
                
                .googleplay-btn {
                    img {
                        max-width: 150px;
                    }
                }
            }
        }
        .footer-navigation {
            width: 100%;
            display: flex;
            padding: 0 6.6667vw;
            .links {
                width: 50%;
                .links-title {
                    margin-bottom: 5.333vw;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1.8px;
                    font-size: 4.267vw;
                    color: #131313;
                }
                ul {
                    list-style: none;
                    li {
                        letter-spacing: .3px;
                        margin-bottom: 4.267vw;
                        a {
                            text-decoration: none;
                            color: #898b8e;
                        }                    
                    }
                }
            }
        }
        .social-media-container {
            padding: 8vw 6.6667vw;
            margin: 5.333vw 0;
            border-top: 1px solid #c6c8ca;
            border-bottom: 1px solid #c6c8ca;
            .title {
                margin-bottom: 4.267vw;
                font-size: 4.267vw;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                font-weight: 600;
                text-align: center;
                color: #131313;
            }
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-between;

                li {
                    a {
                        text-decoration: none;
                        color: #656565;
                        &:hover {
                            color: #A41D23;
                        }
                        i.fab {
                            font-weight: 400;
                            font-size: 5.333vw;
                        }
                    }
                }
            }
        }
        .site-map {
            padding: 0 6.6667vw;
            .links {
                width: 100%;
                ul {
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    li {
                        margin-bottom: 5.333vw;
                        color: #898b8e;
                        letter-spacing: .3px;
                        width: 100%;

                        a {
                            text-decoration: none;
                            font-size: 4.267vw;
                            cursor: pointer;
                            color: #898b8e;
                            &:hover {
                                color: #A41D23;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    footer {
        background: #f2f2f2;
        .top-wrapper {
            width: 100%;
            margin: 0 auto;
            display: flex;
            width: 100%;
            max-width: 800px;
            padding: 3.5em 0;
            background: #f2f2f2;
            .subscribe {
                font-size: 16px;
                margin: 0 auto;
                padding: 0;
                border-bottom: 0;
                width: 50%;
                .subscribe-text {
                    font-size: 16px;
                    margin-bottom: 1em;
                }
                .input-container {
                    .input-box {
                        input {
                            font-size: 16px;
                            padding: .7em .5em;
                        }
                    }

                    button {
                        font-size: 12px;
                    }
                }
            }
            .refer-container {
                width: 50%;
                .block-container {
                    p.refer-text {
                        font-size: 16px;
                        margin-bottom: 1em;
                    }

                    a.refer-link {
                        font-size: 12px;
                        margin: 0;
                        padding: 0 2em;
                    }
                }
            }
        }
    }
}