header {
    width: 100%;
    padding: 5px 10px;

    position: fixed;
    top: 0;
    z-index: 10;
    background: #fff;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img.logo {
            height: 30px;
        }
    }
}