header {
    width: 100%;
    padding: 5px .625em;
    top: 0;
    z-index: 36;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.06);

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        i.fas {
            font-size: 16px;
            z-index: 20;
            color: #a2a6a9;
        }
        img.logo {
            height: 30px;
        }
    }
}

@media only screen and (min-width: 769px) {
    header {
        position: relative;
        padding: 10px 1.5em;
        border: 0;
        .navbar {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            i.fa-bars {
                display: none;
            }
            img.logo {
                height: 40px;
            }
            i.fa-search {
                font-size: 16px;
            }
        }
    }
}