section#landing {
    margin-top: 40px;
    width: 100%;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    .hero {
        width: 100%;
        .hero-img {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .hero-text {
            position: relative;
            top: -2em;
            width: 100%;
            padding: 6.4vw;
            width: 80%;
            z-index: 2;
            background: #fff;
            margin: 0 auto;
            .box {
                display: flex;
                flex-wrap: wrap;
                h4.box-header {
                    width: 100%;
                    margin-bottom: 1em;
                    text-transform: uppercase;
                    color: #a41d23;
                    font-size: 3.2vw;
                }
                h5.box-title {
                    font-size: 6.4vw;
                    color: #000;
                    
                }
                p.box-text {
                    margin: 0.5em 0 1em;
                    color: #656565;
                    font-size: 4.267vw;
                    line-height: 1.35;
                }
                a.btn {
                    border: 1px solid #a41d23;
                    padding: .5em 1.5em;
                    font-size: 4.267vw;
                    color: #a41d23;
                    text-decoration: none;
                }
            }
        }
    }
    .collection-preview {
        width: 100%;
        .collection-preview-header {
            width: 100%;
            padding: 1em;
            font-size: 4.267vw;
            display: flex;
            justify-content: space-between;
            background: #f8f8f8;
            .collection-name {
                font-size: 4.267vw;
                color: #131313;
            }
            a.collection-link {
                color: #a41d23;
                text-decoration: none;
                font-size: 4.267vw;

                i.fa {
                    margin-left: .5em;
                }
            }
        }
        .collection-preview-grid {
            padding: 2em 1em 4em;
            font-size: 16px;
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-row-gap: 5px;
            grid-column-gap: 5px;
            a.sneaker-preview {
                width: 100%;
                display: inline-block;
                text-decoration: none;
                color: #131313;
                text-align: center;
                .image-container {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .sneaker-name {
                    font-size: 12px;
                }
                .sneaker-colorway {
                    font-size: 12px;
                    margin-top: .25em;
                }
                .sneaker-price {
                    font-size: 12px;
                    color: #656565;
                    margin-top: .25em;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    section#landing {
        margin-top: 96px;
        .hero {
            background-image: url('/img/travis-270-desktop.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 75vh;

            .hero-img {
                grid-template-columns: 24fr;
                display: none;
            }
            .hero-text {
                position: relative;
                z-index: 10;
                top: 30%;
                left: 10%;
                width: 30%;
                padding: 2em 2em 3em;
                font-size: 16px;
                margin: 0;
                .box {
                    h4.box-header {
                        font-size: 12px;
                    }
                    h5.box-title {
                        font-size: 24px;
                    }
                    p.box-text {
                        font-size: 16px;
                    }
                    a.btn {
                        min-width: 160px;
                        text-align: center;
                        font-size: 16px;
                    }
                }
            }
        }
        .collection-preview {
            .collection-preview-header {
                font-size: 16px;
                justify-content: center;
                .collection-name {
                    font-size: 16px;
                }
                a.collection-link {
                    font-size: 16px;
                    position: absolute;
                    padding: 0 1em;
                    right: 0;
                }
            }
            .collection-preview-grid {
                font-size: 16px;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                a.sneaker-preview {
                    .sneaker-name {
                        font-size: 16px;
                    }
                    .sneaker-colorway {
                        font-size: 16px;
                    }
                    .sneaker-price {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}