#menu-container {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 10;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    transform: translate3d(0, -100vh, 0);
    transition: transform .3s ease-in-out;
    &.active {
        transform: translate3d(0, 0, 0);
        position: fixed;
    }
    ul {
        width: 100%;
        height: 100%;
        margin-top: 40px;
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        li {
            width: 100%;
            border-bottom: 1px solid #c6c8ca;
            a {
                width: 100%;
                height: 100%;
                padding: 1em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                font-size: .75em;
                letter-spacing: .1em;
                text-transform: uppercase;
                color: #656565;
                background: #fff;
                text-decoration: none;
            }
            i.fas {
                color: #656565;
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    #menu-container {
        background: #fff;
        position: fixed;
        top: 60px;
        z-index: 20;
        height: auto;
        transform: translate3d(0, 0, 0);

        .menu-wrapper {
            max-width: 1200px;
            height: auto;
            margin: 0 auto;
            width: 65%;
            ul {
                height: auto;
                flex-wrap: nowrap;
                max-width: 1200px;
                margin: 0 auto;
                li {
                    border-bottom: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:first-of-type {
                        border-top: none;
                    }
                    a {
                        height: auto;
                        padding: 1em;
                        font-size: .75em;
                        justify-content: center;
                        white-space: nowrap;
                        &:hover {
                            color: #a41d23;
                            cursor: pointer;
                        }
                        i.fas {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}