@import url("https://use.typekit.net/zst1ujl.css");
@import "reset";
@import "header";
@import "home";
@import "collection/collection";
@import "product/product";
@import "brand/brand";
@import "footer";
@import "side-menu";

#navigation {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    overflow: hidden;
    background: #fff;
}

*, body {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

#page-content {
    width: 100vw;
}

@media only screen and (min-width: 769px) {
    #navigation {
        position: fixed;
    }
}