@import url("https://use.typekit.net/zst1ujl.css");
@import "reset";
@import "header";
@import "home";
@import "footer";
@import "side-menu";


#page-content {
    display: block;
    transition: display .3s ease-in-out .3s;
    &.menu-active {
        display: none;
    }
}