@import url(https://use.typekit.net/zst1ujl.css);* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100%;
  padding: 5px 0.625em;
  top: 0;
  z-index: 36;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar i.fas {
  font-size: 16px;
  z-index: 20;
  color: #a2a6a9;
}

header .navbar img.logo {
  height: 30px;
}

@media only screen and (min-width: 769px) {
  header {
    position: relative;
    padding: 10px 1.5em;
    border: 0;
  }

  header .navbar {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  header .navbar i.fa-bars {
    display: none;
  }

  header .navbar img.logo {
    height: 40px;
  }

  header .navbar i.fa-search {
    font-size: 16px;
  }
}

section#landing {
  margin-top: 40px;
  width: 100%;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

section#landing .hero {
  width: 100%;
}

section#landing .hero .hero-img {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

section#landing .hero .hero-img img {
  width: 100%;
  height: 100%;
}

section#landing .hero .hero-text {
  position: relative;
  top: -2em;
  width: 100%;
  padding: 1.5em;
  width: 90%;
  z-index: 2;
  background: #fff;
  margin: 0 auto;
}

section#landing .hero .hero-text .box {
  display: flex;
  flex-wrap: wrap;
}

section#landing .hero .hero-text .box h4.box-header {
  width: 100%;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #a41d23;
  font-size: 12px;
}

section#landing .hero .hero-text .box h5.box-title {
  width: 100%;
  font-size: 24px;
}

section#landing .hero .hero-text .box p.box-text {
  width: 100%;
  margin: 0.5em 0 1em;
  color: #656565;
  font-size: 16px;
  line-height: 1.35;
}

section#landing .hero .hero-text .box a.btn {
  border: 1px solid #a41d23;
  padding: 0.5em 1.5em;
  font-size: 16px;
  color: #a41d23;
  text-decoration: none;
}

section#landing .collection-preview {
  width: 100%;
}

section#landing .collection-preview .collection-preview-header {
  width: 100%;
  padding: 1em;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
}

section#landing .collection-preview .collection-preview-header .collection-name {
  font-size: 16px;
  color: #131313;
}

section#landing .collection-preview .collection-preview-header a.collection-link {
  color: #a41d23;
  text-decoration: none;
  font-size: 16px;
}

section#landing .collection-preview .collection-preview-header a.collection-link i.fa {
  margin-left: 0.5em;
  color: #a41d23;
}

section#landing .collection-preview .collection-preview-grid {
  padding: 2em 1em 4em;
  font-size: 16px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #131313;
  text-align: center;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .image-container {
  width: 100%;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .image-container img {
  width: 100%;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-name {
  font-size: 12px;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-colorway {
  font-size: 12px;
  margin-top: 0.25em;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-price {
  font-size: 12px;
  color: #656565;
  margin-top: 0.25em;
}

@media only screen and (min-width: 769px) {
  section#landing {
    margin-top: 0;
  }

  section#landing .hero {
    background-image: url("/img/travis-270-desktop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
  }

  section#landing .hero .hero-img {
    grid-template-columns: 24fr;
    display: none;
  }

  section#landing .hero .hero-text {
    position: relative;
    z-index: 10;
    top: 30%;
    left: 10%;
    width: 30%;
    padding: 2em 2em 3em;
    font-size: 16px;
    margin: 0;
  }

  section#landing .hero .hero-text .box h4.box-header {
    font-size: 12px;
  }

  section#landing .hero .hero-text .box h5.box-title {
    font-size: 24px;
  }

  section#landing .hero .hero-text .box p.box-text {
    font-size: 16px;
  }

  section#landing .hero .hero-text .box a.btn {
    min-width: 160px;
    text-align: center;
    font-size: 16px;
  }

  section#landing .collection-preview .collection-preview-header {
    font-size: 16px;
    justify-content: center;
  }

  section#landing .collection-preview .collection-preview-header .collection-name {
    font-size: 16px;
  }

  section#landing .collection-preview .collection-preview-header a.collection-link {
    font-size: 16px;
    position: absolute;
    padding: 0 1em;
    right: 0;
  }

  section#landing .collection-preview .collection-preview-grid {
    font-size: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-name {
    font-size: 16px;
  }

  section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-colorway {
    font-size: 16px;
  }

  section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-price {
    font-size: 16px;
  }
}

section#collection-page {
  margin-top: 40px;
  width: 100%;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

section#collection-page .hero {
  width: 100%;
  padding: 1em;
}

section#collection-page .hero .hero-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#collection-page .hero .hero-text {
  padding: 1em;
  width: 95%;
  margin: 0 auto;
  position: relative;
  background: #fff;
  top: -1em;
}

section#collection-page .hero .hero-text h4.box-header {
  line-height: 1.35;
  text-transform: uppercase;
  color: #a41d23;
  font-size: 12px;
}

section#collection-page .hero .hero-text h5.box-title {
  line-height: 1.35;
  margin: 0.5em 0;
  color: #131313;
  font-size: 24px;
}

section#collection-page .hero .hero-text p.box-text {
  font-size: 16px;
  color: #656565;
  line-height: 1.35;
}

section#collection-page .collection-preview-grid {
  width: 100%;
  padding: 2em 1em 4em;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

section#collection-page .collection-preview-grid a.sneaker-preview {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #131313;
  text-align: center;
}

section#collection-page .collection-preview-grid a.sneaker-preview .image-container {
  width: 100%;
}

section#collection-page .collection-preview-grid a.sneaker-preview .image-container img {
  width: 100%;
}

section#collection-page .collection-preview-grid a.sneaker-preview .sneaker-name {
  font-size: 12px;
}

section#collection-page .collection-preview-grid a.sneaker-preview .sneaker-colorway {
  font-size: 12px;
  margin-top: 0.25em;
}

section#collection-page .collection-preview-grid a.sneaker-preview .sneaker-price {
  font-size: 12px;
  color: #656565;
  margin-top: 0.25em;
}

@media only screen and (min-width: 769px) {
  section#collection-page {
    margin-top: 96px;
  }

  section#collection-page .hero {
    line-height: 1.35;
    padding: 1em;
    width: 100%;
    display: grid;
    -moz-column-gap: 0;
         column-gap: 0;
    grid-template-columns: auto repeat(24, 1fr) auto;
    grid-template-rows: 1em 2em 1fr 1.5em auto 2em 1em;
    height: auto;
  }

  section#collection-page .hero .hero-img-wrapper {
    grid-area: 3/8/6/24;
    height: 100%;
  }

  section#collection-page .hero .hero-img-wrapper .hero-img-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
  }

  section#collection-page .hero .hero-img-wrapper .hero-img-container .hero-img {
    position: relative;
  }

  section#collection-page .hero .hero-img-wrapper .hero-img-container .hero-img img {
    width: 100%;
  }

  section#collection-page .hero .hero-text {
    top: 0;
    display: inline-grid;
    grid-area: 3/4/5/12;
    z-index: 2;
    opacity: 1;
    align-self: center;
    min-width: 21em;
    max-width: 446px;
  }

  section#collection-page .collection-preview-grid {
    font-size: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  section#collection-page .collection-preview-grid a.sneaker-preview .sneaker-name {
    font-size: 16px;
  }

  section#collection-page .collection-preview-grid a.sneaker-preview .sneaker-colorway {
    font-size: 16px;
  }

  section#collection-page .collection-preview-grid a.sneaker-preview .sneaker-price {
    font-size: 16px;
  }
}

section#product-page {
  margin-top: 40px;
  width: 100%;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  padding: 0 1em;
  background: #f8f8f8;
  overflow: hidden;
}

section#product-page .product-page-container {
  display: flex;
  width: 100%;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper {
  margin-top: 2em;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top {
  margin-bottom: -10px;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .breadcrumbs {
  line-height: normal;
  margin-bottom: 2em;
  color: #656565;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .breadcrumbs ul {
  list-style: none;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .breadcrumbs ul li {
  display: inline;
  white-space: nowrap;
  font-size: 0.75em;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .breadcrumbs ul li:last-of-type span.name {
  font-weight: 400;
  color: #a41d23;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .breadcrumbs ul li a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .breadcrumbs ul li a span.name {
  padding: 0 0.35em;
  color: #656565;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .product-gallery {
  display: none;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .product-mobile-brand {
  margin-top: -0.5em;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.3;
  color: #131313;
  margin-bottom: 0.15em;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top h1.product-mobile-name {
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.3;
  color: #656565;
  margin-bottom: calc(20px - .25em);
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top h1.product-mobile-name span {
  color: #656565;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-gallery {
  display: none;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-mobile-gallery {
  height: 40vh;
  margin: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-mobile-gallery .product-mobile-gallery-images {
  overflow: hidden;
  position: relative;
  height: auto;
  width: 100%;
  display: block;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-mobile-gallery .product-mobile-gallery-images .image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-mobile-gallery .product-mobile-gallery-images .image-container img {
  width: 100%;
  height: 100%;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-brand {
  display: none;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right h1.product-name {
  display: none;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-shop #product-options-wrapper {
  min-height: 60px;
  position: relative;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-shop #product-options-wrapper .product-sizes {
  font-size: 0.875em;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: #fff;
  min-height: 60px;
  margin-bottom: 10px;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-shop #product-options-wrapper .product-sizes .selected-product-size {
  height: 60px;
  text-align: center;
  color: #656565;
  display: block;
  z-index: 10;
  float: none;
  position: relative;
  min-height: 60px;
  line-height: 1;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-shop #product-options-wrapper .product-sizes .selected-product-size span.product-sizes-detail {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-left: 18px;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-shop #product-options-wrapper .product-sizes .selected-product-size i.fas {
  position: absolute;
  top: 22px;
  right: 15px;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-shop #product-modal {
  display: none;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-shop .product-options-bottom .add-to-cart {
  height: 60px;
  overflow: hidden;
  position: relative;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-shop .product-options-bottom .add-to-cart .add-to-cart-btn button.btn-cart {
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.4;
  cursor: pointer;
  background: #131313;
  border: 1px solid #131313;
  color: #fff;
  font-weight: 600;
  padding: 0 2em;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-details {
  clear: both;
  margin-top: 20px;
  border-top: 1px solid #e3e3e3;
  padding-top: 30px;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-details h4 {
  font-size: 1.25em;
  color: #656565;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.3;
  margin-bottom: 10px;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-details .product-details-description {
  margin-bottom: 20px;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-details .product-details-description p {
  color: #656565;
  font-size: 0.875em;
  letter-spacing: 0.035em;
  line-height: 1.6;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-details .product-details-additional-info {
  margin-bottom: 20px;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-details .product-details-additional-info table#product-additional-info {
  border-collapse: collapse;
  border-spacing: 10px;
  letter-spacing: 0.035em;
  text-align: left;
  font-size: 0.875em;
  width: 100%;
  color: #131313;
  letter-spacing: 0.035em;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-details .product-details-additional-info table#product-additional-info tbody tr th.label {
  color: #656565;
  vertical-align: top;
  margin-bottom: 0.5em;
  display: inline-block;
  line-height: 1.4;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

section#product-page .product-page-container form#product-addtocart-form .product-wrapper .product-details .product-details-additional-info table#product-additional-info tbody tr td {
  color: #656565;
  vertical-align: top;
}

#product-modal-mobile {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

#product-modal-mobile.open {
  visibility: visible;
  opacity: 1;
}

#product-modal-mobile .modal-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#product-modal-mobile .modal-wrapper .modal-wrapper2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#product-modal-mobile .modal-wrapper .modal-wrapper2 .modal-header {
  z-index: 101;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  border: 1px solid #c6c8ca;
  background: #fff;
  overflow: hidden;
  color: #131313;
}

#product-modal-mobile .modal-wrapper .modal-wrapper2 .modal-header .close {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#product-modal-mobile .modal-wrapper .modal-wrapper2 .modal-header .close i.fas {
  color: #898b8e;
  font-size: 0.75em;
}

#product-modal-mobile .modal-wrapper .modal-wrapper2 .modal-content {
  margin-top: 60px;
  padding: 2px 0;
}

#product-modal-mobile .modal-wrapper .modal-wrapper2 .modal-content .modal-content-container {
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

#product-modal-mobile .modal-wrapper .modal-wrapper2 .modal-content .modal-content-container #product-modal-content {
  color: #898b8e;
}

#product-modal-mobile .modal-wrapper .modal-wrapper2 .modal-content .modal-content-container #product-modal-content .product-sizes-list .product-sizes-list-options {
  color: #656565;
  display: flex;
  width: 100%;
  background: #fff;
  flex-direction: column;
}

#product-modal-mobile .modal-wrapper .modal-wrapper2 .modal-content .modal-content-container #product-modal-content .product-sizes-list .product-sizes-list-options label.product-sizes-list-option {
  width: 100%;
  display: block;
  padding: 1.8em 1.25em;
  border-bottom: 1px solid #c6c8ca;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #898b8e;
  background: #fff;
  font-weight: 400;
}

#product-modal-mobile .modal-wrapper .modal-wrapper2 .modal-content .modal-content-container #product-modal-content .product-sizes-list .product-sizes-list-options label.product-sizes-list-option span.product-sizes-detail {
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#product-modal-mobile .modal-wrapper .modal-wrapper2 .modal-content .modal-content-container #product-modal-content .product-sizes-list .product-sizes-list-options label.product-sizes-list-option span.product-sizes-detail span.product-sizes-size {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.95em;
}

#product-modal-mobile .modal-wrapper .modal-wrapper2 .modal-content .modal-content-container #product-modal-content .product-sizes-list .product-sizes-list-options label.product-sizes-list-option span.product-sizes-detail span.product-sizes-price span.price {
  font-size: 1em;
}

@media only screen and (min-width: 769px) {
  section#product-page {
    margin-top: 96px;
    padding: 0 2em;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
    margin-top: 0;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left {
    margin-top: 2em;
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: stretch;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top {
    margin-bottom: 0;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .breadcrumbs {
    white-space: nowrap;
    margin-bottom: 1em;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .breadcrumbs ul li:hover a span.name {
    color: #a41d23;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .breadcrumbs ul li:last-of-type span.name {
    color: #b0b0b0;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .product-mobile-brand {
    display: none;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-top .product-mobile-name {
    display: none;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-gallery {
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 1em;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-gallery .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-gallery .image-container img {
    width: 100%;
    height: 100%;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-left .product-mobile-gallery {
    display: none;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right {
    padding-top: 4em;
    display: flex;
    width: 25%;
    flex-direction: column;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-brand {
    display: block;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.3;
    color: #131313;
    margin-bottom: 0.15em;
    margin-top: 1em;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right h1.product-name {
    display: block;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.3;
    color: #656565;
    margin-bottom: calc(20px - .25em);
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop #product-options-wrapper .product-sizes {
    margin-bottom: 0;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop #product-modal {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-top: 0;
    height: 200px;
    overflow-y: scroll;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop #product-modal .modal-wrapper {
    width: 100%;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop #product-modal .modal-wrapper .modal-wrapper2 {
    width: 100%;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop #product-modal .modal-wrapper .modal-wrapper2 .modal-content {
    width: 100%;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop #product-modal .modal-wrapper .modal-wrapper2 .modal-content .model-content-container {
    width: 100%;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop #product-modal .modal-wrapper .modal-wrapper2 .modal-content .model-content-container #product-modal-container {
    width: 100%;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop #product-modal .modal-wrapper .modal-wrapper2 .modal-content .model-content-container #product-modal-container .product-sizes-list {
    width: 100%;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop #product-modal .modal-wrapper .modal-wrapper2 .modal-content .model-content-container #product-modal-container .product-sizes-list label.product-sizes-list-option {
    display: block;
    height: 40px;
    margin: 0;
    width: 100%;
    font-size: 1em;
    line-height: 1.4;
    font-weight: 400;
    color: #656565;
    background: #fff;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop #product-modal .modal-wrapper .modal-wrapper2 .modal-content .model-content-container #product-modal-container .product-sizes-list label.product-sizes-list-option:hover {
    color: #a41d23;
    background: #f0f0f0;
    cursor: pointer;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop #product-modal .modal-wrapper .modal-wrapper2 .modal-content .model-content-container #product-modal-container .product-sizes-list label.product-sizes-list-option span.product-sizes-detail {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 18px;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop #product-modal .modal-wrapper .modal-wrapper2 .modal-content .model-content-container #product-modal-container .product-sizes-list label.product-sizes-list-option span.product-sizes-detail span.product-sizes-size {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.95em;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop .product-options-bottom {
    margin-top: 10px;
  }

  section#product-page .product-page-container form#product-addtocart-form .product-wrapper .desktop-wrapper-right .product-shop .product-options-bottom .add-to-cart .add-to-cart-btn button.button.btn-cart:hover {
    background: #a41d23;
    border: 1px solid #a41d23;
  }
}

footer {
  width: 100%;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

footer .subscribe {
  background: #f2f2f2;
  width: 100%;
  padding: 1.875em 1.5625em;
  border-bottom: 1px solid #898b8e;
}

footer .subscribe .subscribe-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0.75em;
  letter-spacing: 0.3px;
  color: #131313;
}

footer .subscribe .input-container {
  display: flex;
  align-items: stretch;
}

footer .subscribe .input-container .input-box {
  width: calc(100% - 70px);
  display: inline-block;
  position: relative;
}

footer .subscribe .input-container .input-box input {
  padding: 0.6875em 0.5625em;
  background: #fff;
  border: 1px solid #898b8e;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  max-height: 40px;
  height: auto;
  width: 100%;
}

footer .subscribe .input-container button {
  padding: 0;
  width: 70px;
  text-align: center;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  background: #131313;
  border: 1px solid #131313;
  color: #fff;
  font-weight: 600;
}

footer .refer-container {
  padding: 1.875em 1.5625em;
  text-align: center;
  background: #f2f2f2;
}

footer .refer-container .block-container {
  margin: 0 auto;
}

footer .refer-container .block-container p.refer-text {
  color: #000;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

footer .refer-container .block-container a.refer-link {
  width: 100%;
  margin-top: 1.3em;
  line-height: 2.5;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #131313;
  border: 1px solid #131313;
  font-weight: 600;
  padding: 0 2em;
  color: #fff;
  text-decoration: none;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .links-container {
  background: #fff;
  display: flex;
  flex-direction: column;
}

footer .links-container .download-app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.875em 1.5625em;
  border-bottom: 1px solid #c6c8ca;
  margin-bottom: 2em;
}

footer .links-container .download-app-container .title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 1em;
  text-align: center;
}

footer .links-container .download-app-container .button-container {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .links-container .download-app-container .button-container a img {
  width: 100%;
  max-width: 135px;
}

footer .links-container .download-app-container .button-container .itunes-btn {
  margin: 0.5em 1em 0 0.297em;
}

footer .links-container .download-app-container .button-container .googleplay-btn img {
  max-width: 150px;
}

footer .links-container .footer-navigation {
  width: 100%;
  display: flex;
  padding: 0 1.5625em;
}

footer .links-container .footer-navigation .links {
  width: 50%;
}

footer .links-container .footer-navigation .links .links-title {
  margin-bottom: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 16px;
  color: #131313;
}

footer .links-container .footer-navigation .links ul {
  list-style: none;
}

footer .links-container .footer-navigation .links ul li {
  letter-spacing: 0.3px;
  margin-bottom: 1em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

footer .links-container .footer-navigation .links ul li a {
  text-decoration: none;
  color: #898b8e;
}

footer .links-container .social-app-wrapper .download-app-container {
  display: none;
}

footer .links-container .social-app-wrapper .social-media-container {
  padding: 1.875em 1.5625em;
  margin: 1.25em 0;
  border-top: 1px solid #c6c8ca;
  border-bottom: 1px solid #c6c8ca;
}

footer .links-container .social-app-wrapper .social-media-container .title {
  margin-bottom: 1em;
  font-size: 16px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #131313;
}

footer .links-container .social-app-wrapper .social-media-container ul {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

footer .links-container .social-app-wrapper .social-media-container ul li a {
  text-decoration: none;
}

footer .links-container .social-app-wrapper .social-media-container ul li a i.fab {
  font-weight: 400;
  font-size: 1.25em;
  color: #656565;
}

footer .links-container .social-app-wrapper .social-media-container ul li a i.fab:hover {
  color: #A41D23;
}

footer .links-container .site-map {
  padding: 0 1.5625em;
}

footer .links-container .site-map .links {
  width: 100%;
}

footer .links-container .site-map .links ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

footer .links-container .site-map .links ul li {
  margin-bottom: 1.25em;
  color: #898b8e;
  letter-spacing: 0.3px;
  width: 100%;
}

footer .links-container .site-map .links ul li a {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  color: #898b8e;
}

footer .links-container .site-map .links ul li a:hover {
  color: #A41D23;
}

@media only screen and (min-width: 769px) {
  footer {
    background: #f2f2f2;
  }

  footer .top-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 800px;
    padding: 3.5em 0;
    background: #f2f2f2;
  }

  footer .top-wrapper .subscribe {
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 0;
    width: 50%;
    padding-right: 120px;
  }

  footer .top-wrapper .subscribe .subscribe-text {
    font-size: 16px;
    margin-bottom: 1em;
    font-weight: 400;
  }

  footer .top-wrapper .subscribe .input-container .input-box input {
    font-size: 16px;
    padding: 0.7em 0.5em;
  }

  footer .top-wrapper .subscribe .input-container .input-box input::-webkit-input-placeholder {
    color: #898b8e;
  }

  footer .top-wrapper .subscribe .input-container .input-box input::-moz-placeholder {
    color: #898b8e;
  }

  footer .top-wrapper .subscribe .input-container .input-box input:-ms-input-placeholder {
    color: #898b8e;
  }

  footer .top-wrapper .subscribe .input-container .input-box input::-ms-input-placeholder {
    color: #898b8e;
  }

  footer .top-wrapper .subscribe .input-container .input-box input::placeholder {
    color: #898b8e;
  }

  footer .top-wrapper .subscribe .input-container button {
    font-size: 12px;
  }

  footer .top-wrapper .subscribe .input-container button:hover {
    background: #A41D23;
    border-color: #A41D23;
  }

  footer .top-wrapper .refer-container {
    width: 50%;
    padding: 0;
    padding-left: 120px;
    border-left: 1px solid #898b8e;
  }

  footer .top-wrapper .refer-container .block-container p.refer-text {
    font-size: 16px;
    margin-bottom: 1em;
  }

  footer .top-wrapper .refer-container .block-container a.refer-link {
    font-size: 12px;
    display: block;
    margin: 0;
    width: 100%;
    line-height: 45px;
  }

  footer .top-wrapper .refer-container .block-container a.refer-link:hover {
    background: #A41D23;
    border-color: #A41D23;
  }

  footer .links-wrapper {
    background: #fff;
    width: 100%;
    padding: 3.5em 0 0.625em;
    margin: 0 auto;
    line-height: 16px;
  }

  footer .links-wrapper .links-container {
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    line-height: 16px;
  }

  footer .links-wrapper .links-container .mobile-app {
    display: none;
  }

  footer .links-wrapper .links-container .social-app-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 120px;
  }

  footer .links-wrapper .links-container .social-app-wrapper .download-app-container {
    display: inline-block;
    padding: 0;
    margin-bottom: 50px;
    border: 0;
  }

  footer .links-wrapper .links-container .social-app-wrapper .download-app-container .title {
    text-align: left;
  }

  footer .links-wrapper .links-container .social-app-wrapper .download-app-container .button-container {
    justify-content: flex-start;
    text-align: left;
  }

  footer .links-wrapper .links-container .social-app-wrapper .download-app-container .button-container a.itunes-btn {
    width: 100%;
    max-width: 118px;
    margin: 0;
    margin-right: 1em;
  }

  footer .links-wrapper .links-container .social-app-wrapper .download-app-container .button-container a.googleplay-btn {
    max-width: 150px;
    width: 100%;
    margin: -9px 8px;
  }

  footer .links-wrapper .links-container .social-app-wrapper .social-media-container {
    padding: 0;
    margin: 0;
    border: 0;
  }

  footer .links-wrapper .links-container .social-app-wrapper .social-media-container .title {
    text-align: left;
  }

  footer .links-wrapper .links-container .social-app-wrapper .social-media-container ul {
    margin: auto;
    max-width: none;
    justify-content: flex-start;
  }

  footer .links-wrapper .links-container .social-app-wrapper .social-media-container ul li {
    margin-right: 1em;
  }

  footer .links-wrapper .links-container .social-app-wrapper .social-media-container ul li a i.fab {
    font-size: 20px;
  }

  footer .links-wrapper .links-container .footer-navigation {
    line-height: 16px;
    width: 50%;
    padding: 0;
  }

  footer .links-wrapper .links-container .footer-navigation .links .links-title {
    display: block;
  }

  footer .links-wrapper .links-container .footer-navigation .links a {
    line-height: 24px;
    color: #656565;
  }

  footer .links-wrapper .links-container .footer-navigation .links a:hover {
    color: #A41d23;
  }

  footer .links-wrapper .links-container .site-map {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 2.875em;
    padding: 0;
  }

  footer .links-wrapper .links-container .site-map .links ul {
    justify-content: center;
  }

  footer .links-wrapper .links-container .site-map .links ul li {
    width: auto;
    padding: 0 0.5em;
  }

  footer .links-wrapper .links-container .site-map .links ul li a {
    color: #656565;
    line-height: 24px;
  }

  footer .links-wrapper .links-container .site-map .links ul li a:hover {
    color: #A41D23;
  }
}

#menu-container {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 10;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  transform: translate3d(0, -100vh, 0);
  transition: transform 0.3s ease-in-out;
}

#menu-container.active {
  transform: translate3d(0, 0, 0);
  position: fixed;
}

#menu-container ul {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

#menu-container ul li {
  width: 100%;
  border-bottom: 1px solid #c6c8ca;
}

#menu-container ul li a {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #656565;
  background: #fff;
  text-decoration: none;
}

#menu-container ul li i.fas {
  color: #656565;
}

@media only screen and (min-width: 769px) {
  #menu-container {
    background: #fff;
    position: fixed;
    top: 60px;
    z-index: 20;
    height: auto;
    transform: translate3d(0, 0, 0);
  }

  #menu-container .menu-wrapper {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    width: 65%;
  }

  #menu-container .menu-wrapper ul {
    height: auto;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  #menu-container .menu-wrapper ul li {
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu-container .menu-wrapper ul li:first-of-type {
    border-top: none;
  }

  #menu-container .menu-wrapper ul li a {
    height: auto;
    padding: 1em;
    font-size: 0.75em;
    justify-content: center;
    white-space: nowrap;
  }

  #menu-container .menu-wrapper ul li a:hover {
    color: #a41d23;
    cursor: pointer;
  }

  #menu-container .menu-wrapper ul li a i.fas {
    display: none;
  }
}

#navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  overflow: hidden;
  background: #fff;
}

*,
body {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#page-content {
  width: 100vw;
}

@media only screen and (min-width: 769px) {
  #navigation {
    position: fixed;
  }
}

