@import url(https://use.typekit.net/zst1ujl.css);* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100%;
  padding: 5px 2.667vw;
  position: fixed;
  top: 0;
  z-index: 30;
  background: #fff;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar i.fas {
  font-size: 4.267vw;
  z-index: 10;
  color: #a2a6a9;
}

header .navbar img.logo {
  height: 30px;
}

@media screen and (min-width: 769px) {
  header {
    position: relative;
    padding: 10px 3vw;
  }

  header .navbar {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  header .navbar i.fa-bars {
    display: none;
  }

  header .navbar img.logo {
    height: 40px;
  }

  header .navbar i.fa-search {
    font-size: 2vw;
  }
}

section#landing {
  margin-top: 40px;
  width: 100%;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

section#landing .hero {
  width: 100%;
}

section#landing .hero .hero-img {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

section#landing .hero .hero-img img {
  width: 100%;
  height: 100%;
}

section#landing .hero .hero-text {
  position: relative;
  top: -2em;
  width: 100%;
  padding: 6.4vw;
  width: 80%;
  z-index: 2;
  background: #fff;
  margin: 0 auto;
}

section#landing .hero .hero-text .box {
  display: flex;
  flex-wrap: wrap;
}

section#landing .hero .hero-text .box h4.box-header {
  width: 100%;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #a41d23;
  font-size: 3.2vw;
}

section#landing .hero .hero-text .box h5.box-title {
  font-size: 6.4vw;
  color: #000;
}

section#landing .hero .hero-text .box p.box-text {
  margin: 0.5em 0 1em;
  color: #656565;
  font-size: 4.267vw;
  line-height: 1.35;
}

section#landing .hero .hero-text .box a.btn {
  border: 1px solid #a41d23;
  padding: 0.5em 1.5em;
  font-size: 4.267vw;
  color: #a41d23;
  text-decoration: none;
}

section#landing .collection-preview {
  width: 100%;
}

section#landing .collection-preview .collection-preview-header {
  width: 100%;
  padding: 1em;
  font-size: 4.267vw;
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
}

section#landing .collection-preview .collection-preview-header .collection-name {
  font-size: 4.267vw;
  color: #131313;
}

section#landing .collection-preview .collection-preview-header a.collection-link {
  color: #a41d23;
  text-decoration: none;
  font-size: 4.267vw;
}

section#landing .collection-preview .collection-preview-header a.collection-link i.fa {
  margin-left: 0.5em;
}

section#landing .collection-preview .collection-preview-grid {
  padding: 2em 1em 4em;
  font-size: 4.267vw;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #131313;
  text-align: center;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .image-container {
  width: 100%;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .image-container img {
  width: 100%;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-name {
  font-size: 3.2vw;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-colorway {
  font-size: 3.2vw;
  margin-top: 0.25em;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-price {
  font-size: 3.2vw;
  color: #656565;
  margin-top: 0.25em;
}

@media screen and (min-width: 769px) {
  section#landing {
    margin-top: 96px;
  }

  section#landing .hero {
    background-image: url("/img/travis-270-desktop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
  }

  section#landing .hero .hero-img {
    grid-template-columns: 24fr;
    display: none;
  }

  section#landing .hero .hero-text {
    position: relative;
    z-index: 10;
    top: 30%;
    left: 10%;
    width: 30%;
    padding: 2em 2em 3em;
    font-size: 16px;
    margin: 0;
  }

  section#landing .hero .hero-text .box h4.box-header {
    font-size: 12px;
  }

  section#landing .hero .hero-text .box h5.box-title {
    font-size: 24px;
  }

  section#landing .hero .hero-text .box p.box-text {
    font-size: 16px;
  }

  section#landing .hero .hero-text .box a.btn {
    min-width: 160px;
    text-align: center;
    font-size: 16px;
  }

  section#landing .collection-preview .collection-preview-header {
    font-size: 16px;
    justify-content: center;
  }

  section#landing .collection-preview .collection-preview-header .collection-name {
    font-size: 16px;
  }

  section#landing .collection-preview .collection-preview-header a.collection-link {
    font-size: 16px;
    position: absolute;
    padding: 0 1em;
    right: 0;
  }

  section#landing .collection-preview .collection-preview-grid {
    font-size: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-name {
    font-size: 16px;
  }

  section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-colorway {
    font-size: 16px;
  }

  section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-price {
    font-size: 16px;
  }
}

footer {
  width: 100%;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

footer .subscribe {
  background: #f2f2f2;
  width: 100%;
  padding: 8vw 6.6667vw;
  border-bottom: 1px solid #898b8e;
}

footer .subscribe .subscribe-text {
  font-size: 4.267vw;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 3.2vw;
  letter-spacing: 0.3px;
  color: #131313;
}

footer .subscribe .input-container {
  display: flex;
}

footer .subscribe .input-container .input-box {
  width: calc(100% - 70px);
  display: inline-block;
  position: relative;
}

footer .subscribe .input-container .input-box input {
  padding: 2.933vw 2.4vw;
  background: #fff;
  border: 1px solid #898b8e;
  font-size: 4.267vw;
  font-weight: 400;
  position: relative;
  max-height: 40px;
  height: auto;
  width: 100%;
}

footer .subscribe .input-container button {
  padding: 0;
  width: 70px;
  text-align: center;
  height: 40px;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  background: #131313;
  border: 1px solid #131313;
  color: #fff;
}

footer .refer-container {
  padding: 8vw 6.6667vw;
  text-align: center;
  background: #f2f2f2;
}

footer .refer-container .block-container {
  margin: 0 auto;
}

footer .refer-container .block-container p.refer-text {
  color: #000;
  text-align: center;
  font-size: 4.267vw;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

footer .refer-container .block-container a.refer-link {
  width: 100%;
  margin-top: 4.627vw;
  line-height: 2.5;
  font-size: 3.2vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #131313;
  border: 1px solid #131313;
  font-weight: 600;
  padding: 0 6.4vw;
  color: #fff;
  text-decoration: none;
  height: 12.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .links-container {
  background: #fff;
  display: flex;
  flex-direction: column;
}

footer .links-container .download-app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8vw 6.6667vw;
  border-bottom: 1px solid #c6c8ca;
  margin-bottom: 8.533vw;
}

footer .links-container .download-app-container .title {
  font-size: 4.267vw;
  font-weight: 600;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 4.267vw;
  text-align: center;
}

footer .links-container .download-app-container .button-container {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .links-container .download-app-container .button-container a img {
  width: 100%;
  max-width: 135px;
}

footer .links-container .download-app-container .button-container .itunes-btn {
  margin: 2.133vw 4.267vw 0 1.28vw;
}

footer .links-container .download-app-container .button-container .googleplay-btn img {
  max-width: 150px;
}

footer .links-container .footer-navigation {
  width: 100%;
  display: flex;
  padding: 0 6.6667vw;
}

footer .links-container .footer-navigation .links {
  width: 50%;
}

footer .links-container .footer-navigation .links .links-title {
  margin-bottom: 5.333vw;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 4.267vw;
  color: #131313;
}

footer .links-container .footer-navigation .links ul {
  list-style: none;
}

footer .links-container .footer-navigation .links ul li {
  letter-spacing: 0.3px;
  margin-bottom: 4.267vw;
}

footer .links-container .footer-navigation .links ul li a {
  text-decoration: none;
  color: #898b8e;
}

footer .links-container .social-media-container {
  padding: 8vw 6.6667vw;
  margin: 5.333vw 0;
  border-top: 1px solid #c6c8ca;
  border-bottom: 1px solid #c6c8ca;
}

footer .links-container .social-media-container .title {
  margin-bottom: 4.267vw;
  font-size: 4.267vw;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #131313;
}

footer .links-container .social-media-container ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

footer .links-container .social-media-container ul li a {
  text-decoration: none;
  color: #656565;
}

footer .links-container .social-media-container ul li a:hover {
  color: #A41D23;
}

footer .links-container .social-media-container ul li a i.fab {
  font-weight: 400;
  font-size: 5.333vw;
}

footer .links-container .site-map {
  padding: 0 6.6667vw;
}

footer .links-container .site-map .links {
  width: 100%;
}

footer .links-container .site-map .links ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

footer .links-container .site-map .links ul li {
  margin-bottom: 5.333vw;
  color: #898b8e;
  letter-spacing: 0.3px;
  width: 100%;
}

footer .links-container .site-map .links ul li a {
  text-decoration: none;
  font-size: 4.267vw;
  cursor: pointer;
  color: #898b8e;
}

footer .links-container .site-map .links ul li a:hover {
  color: #A41D23;
}

@media screen and (min-width: 769px) {
  footer {
    background: #f2f2f2;
  }

  footer .top-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 800px;
    padding: 3.5em 0;
    background: #f2f2f2;
  }

  footer .top-wrapper .subscribe {
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 0;
    width: 50%;
  }

  footer .top-wrapper .subscribe .subscribe-text {
    font-size: 16px;
    margin-bottom: 1em;
  }

  footer .top-wrapper .subscribe .input-container .input-box input {
    font-size: 16px;
    padding: 0.7em 0.5em;
  }

  footer .top-wrapper .subscribe .input-container button {
    font-size: 12px;
  }

  footer .top-wrapper .refer-container {
    width: 50%;
  }

  footer .top-wrapper .refer-container .block-container p.refer-text {
    font-size: 16px;
    margin-bottom: 1em;
  }

  footer .top-wrapper .refer-container .block-container a.refer-link {
    font-size: 12px;
    margin: 0;
    padding: 0 2em;
  }
}

#menu-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 12;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  transform: translate3d(-100vw, 0, 0);
  transition: transform 0.3s ease-in-out;
}

#menu-container.active {
  transform: translate3d(0, 0, 0);
}

#menu-container ul {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

#menu-container ul li {
  width: 100%;
  border-bottom: 1px solid #c6c8ca;
}

#menu-container ul li:first-of-type {
  border-top: 1px solid #c6c8ca;
}

#menu-container ul li a {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #898b8e;
  background: #fff;
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  #menu-container {
    position: relative;
    height: auto;
    transform: translate3d(0, 0, 0);
    border-bottom: 1px solid #c6c8ca;
  }

  #menu-container .container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    width: 65%;
  }

  #menu-container .container ul {
    height: auto;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  #menu-container .container ul li {
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu-container .container ul li:first-of-type {
    border-top: none;
  }

  #menu-container .container ul li a {
    height: auto;
    padding: 1em;
    font-size: 0.75em;
    justify-content: center;
    white-space: nowrap;
  }

  #menu-container .container ul li a:hover {
    color: #a41d23;
    cursor: pointer;
  }

  #menu-container .container ul li a i.fas {
    display: none;
  }
}

#navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: #fff;
}

#page-content {
  display: block;
  transition: display 0.3s ease-in-out 0.3s;
}

#page-content.menu-active {
  display: none;
}

