@import url(https://use.typekit.net/zst1ujl.css);* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100%;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  z-index: 10;
  background: #fff;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar img.logo {
  height: 30px;
}

section#landing {
  margin-top: 40px;
  width: 100%;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

section#landing .hero {
  width: 100%;
}

section#landing .hero .hero-img {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

section#landing .hero .hero-img img {
  width: 100%;
  height: 100%;
}

section#landing .hero .hero-text {
  position: relative;
  top: -2em;
  width: 100%;
  padding: 1.5em;
  width: 80%;
  z-index: 2;
  background: #fff;
  margin: 0 auto;
}

section#landing .hero .hero-text .box {
  display: flex;
  flex-wrap: wrap;
}

section#landing .hero .hero-text .box h4.box-header {
  width: 100%;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #a41d23;
  font-size: 12px;
}

section#landing .hero .hero-text .box h5.box-title {
  font-size: 24px;
  color: #000;
}

section#landing .hero .hero-text .box p.box-text {
  font-size: 16px;
  margin: 0.5em 0 1em;
  color: #656565;
  line-height: 1.35;
}

section#landing .hero .hero-text .box a.btn {
  border: 1px solid #a41d23;
  padding: 0.5em 1.5em;
  color: #a41d23;
  text-decoration: none;
}

section#landing .collection-preview {
  width: 100%;
}

section#landing .collection-preview .collection-preview-header {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
}

section#landing .collection-preview .collection-preview-header .collection-name {
  font-size: 16px;
  color: #131313;
}

section#landing .collection-preview .collection-preview-header a.collection-link {
  color: #a41d23;
  text-decoration: none;
  font-size: 16px;
}

section#landing .collection-preview .collection-preview-header a.collection-link i.fa {
  margin-left: 0.5em;
}

section#landing .collection-preview .collection-preview-grid {
  padding: 2em 1em 4em;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #131313;
  text-align: center;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .image-container {
  width: 100%;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .image-container img {
  width: 100%;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-name {
  font-size: 12px;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-colorway {
  font-size: 12px;
  margin-top: 0.25em;
}

section#landing .collection-preview .collection-preview-grid a.sneaker-preview .sneaker-price {
  font-size: 12px;
  color: #656565;
  margin-top: 0.25em;
}

footer {
  width: 100%;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

footer .subscribe {
  background: #f2f2f2;
  width: 100%;
  padding: 2em 1.5em;
  border-bottom: 1px solid #898b8e;
}

footer .subscribe .subscribe-text {
  font-size: 1em;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0.75em;
  letter-spacing: 0.3px;
  color: #131313;
}

footer .subscribe .input-container {
  display: flex;
}

footer .subscribe .input-container .input-box {
  width: calc(100% - 70px);
  display: inline-block;
  position: relative;
}

footer .subscribe .input-container .input-box input {
  padding: 11px 9px;
  background: #fff;
  border: 1px solid #898b8e;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  max-height: 40px;
  height: auto;
  width: 100%;
}

footer .subscribe .input-container button {
  padding: 0;
  width: 70px;
  text-align: center;
  height: 40px;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  background: #131313;
  border: 1px solid #131313;
  color: #fff;
}

footer .refer-container {
  padding: 2em 1.75em;
  text-align: center;
  background: #f2f2f2;
}

footer .refer-container .block-container {
  margin: 0 auto;
}

footer .refer-container .block-container p.refer-text {
  color: #000;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

footer .refer-container .block-container a.refer-link {
  width: 100%;
  margin-top: 1em;
  line-height: 2.5;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #131313;
  border: 1px solid #131313;
  font-weight: 600;
  padding: 0 2em;
  color: #fff;
  text-decoration: none;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .links-container {
  display: flex;
  flex-direction: column;
}

footer .links-container .download-app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 25px;
  border-bottom: 1px solid #c6c8ca;
  margin-bottom: 2em;
}

footer .links-container .download-app-container .title {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 1em;
  text-align: center;
}

footer .links-container .download-app-container .button-container {
  text-align: center;
  width: 100%;
  display: flex;
}

footer .links-container .download-app-container .button-container a img {
  width: 100%;
  max-width: 135px;
}

footer .links-container .download-app-container .button-container .itunes-btn {
  margin: 0.5em 1em 0 0.3em;
}

footer .links-container .download-app-container .button-container .googleplay-btn img {
  max-width: 150px;
}

footer .links-container .footer-navigation {
  width: 100%;
  display: flex;
  padding: 0 25px;
}

footer .links-container .footer-navigation .links {
  width: 50%;
}

footer .links-container .footer-navigation .links .links-title {
  margin-bottom: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 1em;
  color: #131313;
}

footer .links-container .footer-navigation .links ul {
  list-style: none;
}

footer .links-container .footer-navigation .links ul li {
  letter-spacing: 0.3px;
  margin-bottom: 1em;
}

footer .links-container .footer-navigation .links ul li a {
  text-decoration: none;
  color: #898b8e;
}

footer .links-container .social-media-container {
  padding: 30px 25px;
  margin: 1.25em 0;
  border-top: 1px solid #c6c8ca;
  border-bottom: 1px solid #c6c8ca;
}

footer .links-container .social-media-container .title {
  margin-bottom: 1em;
  font-size: 1em;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #131313;
}

footer .links-container .social-media-container ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

footer .links-container .social-media-container ul li a {
  text-decoration: none;
  color: #656565;
}

footer .links-container .social-media-container ul li a:hover {
  color: #A41D23;
}

footer .links-container .social-media-container ul li a i.fab {
  font-weight: 400;
  font-size: 1.25em;
}

footer .links-container .site-map {
  padding: 0 25px;
}

footer .links-container .site-map .links {
  width: 100%;
}

footer .links-container .site-map .links ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

footer .links-container .site-map .links ul li {
  margin-bottom: 20px;
  color: #898b8e;
  letter-spacing: 0.3px;
  width: 100%;
}

footer .links-container .site-map .links ul li a {
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  color: #898b8e;
}

footer .links-container .site-map .links ul li a:hover {
  color: #A41D23;
}

