section#product-page {
    margin-top: 40px;
    width: 100%;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    padding: 0 1em;
    background: #f8f8f8;
    overflow: hidden;
    .product-page-container {
        display: flex;
        width: 100%;
        form#product-addtocart-form {
            .product-wrapper {
                margin-top: 2em;
                .desktop-wrapper-left {
                    .product-top {
                        margin-bottom: -10px;
                        .breadcrumbs {
                            line-height: normal;
                            margin-bottom: 2em;
                            color: #656565;
                            ul {
                                list-style: none;
                                li {
                                    display: inline;
                                    white-space: nowrap;
                                    font-size: .75em;
                                    &:last-of-type {
                                        span.name {
                                            font-weight: 400;
                                            color: #a41d23;
                                        }
                                    }
                                    a {
                                        cursor: pointer;
                                        display: inline-block;
                                        text-decoration: none;
                                        span.name {
                                            padding: 0 .35em;
                                            color: #656565;
                                        }
                                    }
                                }
                            }
                        }
                        .product-gallery {
                            display: none;
                        }
                        .product-mobile-brand {
                            margin-top: -.5em;
                            font-size: 1.25em;
                            font-weight: 400;
                            letter-spacing: .02em;
                            line-height: 1.3;
                            color: #131313;
                            margin-bottom: .15em;
                        }
                        h1.product-mobile-name {
                            font-size: 1.25em;
                            font-weight: 400;
                            letter-spacing: .02em;
                            line-height: 1.3;
                            color: #656565;
                            margin-bottom: calc(20px - .25em);
                            span {
                                color: #656565;
                            }
                        }
                    }
                    .product-gallery {
                        display: none;
                    }
                    .product-mobile-gallery {
                        height: 40vh;
                        margin: 0;
                        width: 100%;
                        overflow: hidden;
                        position: relative;
                        .product-mobile-gallery-images {
                            overflow: hidden;
                            position: relative;
                            height: auto;
                            width: 100%;
                            display: block;
                            .image-container {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: stretch;
                                align-items: stretch;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                .desktop-wrapper-right {
                    .product-brand {
                        display: none;
                    }
                    h1.product-name {
                        display: none;
                    }
                }
                .product-shop {
                    #product-options-wrapper {
                        min-height: 60px;
                        position: relative;
                        .product-sizes {
                            font-size: .875em;
                            border: 1px solid rgba(0,0,0,.06);
                            background: #fff;
                            min-height: 60px;
                            margin-bottom: 10px;
                            .selected-product-size {
                                height: 60px;
                                text-align: center;
                                color: #656565;
                                display: block;
                                z-index: 10;
                                float: none;
                                position: relative;
                                min-height: 60px;
                                line-height: 1;
                                span.product-sizes-detail {
                                    height: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding-right: 40px;
                                    padding-left: 18px;
                                }
                                i.fas {
                                    position: absolute;
                                    top: 22px;
                                    right: 15px;
                                }
                            }
                        }
                    }
                    #product-modal {
                        display: none;
                    }
                    .product-options-bottom {
                        .add-to-cart {
                            height: 60px;
                            overflow: hidden;
                            position: relative;
                            .add-to-cart-btn {
                                button.btn-cart {
                                    font-size: .75em;
                                    letter-spacing: .1em;
                                    text-transform: uppercase;
                                    line-height: 1.4;
                                    cursor: pointer;
                                    background: #131313;
                                    border: 1px solid #131313;
                                    color: #fff;
                                    font-weight: 600;
                                    padding: 0 2em;
                                    width: 100%;
                                    height: 60px;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
                .product-details {
                    clear: both;
                    margin-top: 20px;
                    border-top: 1px solid #e3e3e3;
                    padding-top: 30px;
                    h4 {
                        font-size: 1.25em;
                        color: #656565;
                        font-weight: 400;
                        letter-spacing: .02em;
                        line-height: 1.3;
                        margin-bottom: 10px;
                    }
                    .product-details-description {
                        margin-bottom: 20px;
                        p {
                            color: #656565;
                            font-size: .875em;
                            letter-spacing: .035em;
                            line-height: 1.6;
                        }
                    }
                    .product-details-additional-info {
                        margin-bottom: 20px;
                        table#product-additional-info {
                            border-collapse: collapse;
                            border-spacing: 10px;
                            letter-spacing: .035em;
                            text-align: left;
                            font-size: .875em;
                            width: 100%;
                            color: #131313;
                            letter-spacing: .035em;
                            tbody {
                                tr {
                                    th.label {
                                        color: #656565;
                                        vertical-align: top;
                                        margin-bottom: .5em;
                                        display: inline-block;
                                        line-height: 1.4;
                                        font-weight: 400;
                                        font-size: 14px;
                                        text-align: left;
                                    }
                                    td {
                                        color: #656565;
                                        vertical-align: top;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#product-modal-mobile {
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    &.open {
        visibility: visible;
        opacity: 1;
    }
    .modal-wrapper {
        width: 100%;
        height: 100%;
        overflow: auto;
        .modal-wrapper2 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow-x: hidden;
            overflow-y: hidden;
            .modal-header {
                z-index: 101;
                align-items: center;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: flex-end;
                height: 60px;
                border: 1px solid #c6c8ca;
                background: #fff;
                overflow: hidden;
                color: #131313;
                .close {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    i.fas {
                        color: #898b8e;
                        font-size: .75em;
                    }
                }
            }
            .modal-content {
                margin-top: 60px;
                padding: 2px 0;
                .modal-content-container {
                    margin-bottom: 0;
                    padding: 0;
                    width: 100%;
                    margin: 0 auto;
                    #product-modal-content {
                        color: #898b8e;
                        .product-sizes-list {
                            .product-sizes-list-options {
                                color: #656565;
                                display: flex;
                                width: 100%;
                                background: #fff;
                                flex-direction: column;
                                label.product-sizes-list-option {
                                    width: 100%;
                                    display: block;
                                    padding: 1.8em 1.25em;
                                    border-bottom: 1px solid #c6c8ca;
                                    font-size: .75em;
                                    text-transform: uppercase;
                                    letter-spacing: .1em;
                                    color: #898b8e;
                                    background: #fff;
                                    font-weight: 400;
                                    span.product-sizes-detail {
                                        padding: 0;
                                        height: 100%;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        span.product-sizes-size {
                                            text-transform: uppercase;
                                            letter-spacing: 1px;
                                            font-size: .95em;
                                        }
                                        span.product-sizes-price {
                                            span.price {
                                                font-size: 1em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    section#product-page {
        margin-top: 96px;
        padding: 0 2em;
        .product-page-container {
            form#product-addtocart-form {
                .product-wrapper {
                    width: 100%;
                    display: flex;
                    align-items: stretch;
                    margin-top: 0;
                    .desktop-wrapper-left {
                        margin-top: 2em;
                        display: flex;
                        width: 75%;
                        flex-direction: column;
                        justify-content: stretch;
                        .product-top {
                            margin-bottom: 0;
                            .breadcrumbs {
                                white-space: nowrap;
                                margin-bottom: 1em;
                                ul {
                                    li {
                                        &:hover {
                                            a {
                                                span.name {
                                                    color: #a41d23;
                                                }
                                            }
                                        }
                                        &:last-of-type {
                                            span.name {
                                                color: #b0b0b0;
                                            }
                                        }
                                    }
                                }
                            }
                            .product-mobile-brand {
                                display: none;
                            }
                            .product-mobile-name {
                                display: none;
                            }
                        }
                        .product-gallery {
                            display: block;
                            height: 100%;
                            width: 100%;
                            margin-bottom: 1em;
                            .image-container {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: stretch;
                                align-items: stretch;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .product-mobile-gallery {
                            display: none;
                        }
                    }
                    .desktop-wrapper-right {
                        padding-top: 4em;
                        display: flex;
                        width: 25%;
                        flex-direction: column;
                        .product-brand {
                            display: block;
                            font-size: 1.25em;
                            font-weight: 400;
                            letter-spacing: .02em;
                            line-height: 1.3;
                            color: #131313;
                            margin-bottom: .15em;
                            margin-top: 1em;
                        }
                        h1.product-name {
                            display: block;
                            font-size: 1.25em;
                            font-weight: 400;
                            letter-spacing: .02em;
                            line-height: 1.3;
                            color: #656565;
                            margin-bottom: calc(20px - .25em);
                        }
                        .product-shop {
                            #product-options-wrapper {
                                .product-sizes {
                                    margin-bottom: 0;
                                }
                            }
                            #product-modal {
                                border: 1px solid rgba(0,0,0,.06);
                                border-top: 0;
                                height: 200px;
                                overflow-y: scroll;
                                background: #fff;
                                width: 100%;
                                display: flex;
                                justify-content: stretch;
                                align-items: stretch;
                                .modal-wrapper {
                                    width: 100%;
                                    .modal-wrapper2 {
                                        width: 100%;
                                        .modal-content {
                                            width: 100%;
                                            .model-content-container {
                                                width: 100%;
                                                #product-modal-container {
                                                    width: 100%;
                                                    .product-sizes-list {
                                                        width: 100%;
                                                        label.product-sizes-list-option {
                                                            display: block;
                                                            height: 40px;
                                                            margin: 0;
                                                            width: 100%;
                                                            font-size: 1em;
                                                            line-height: 1.4;
                                                            font-weight: 400;
                                                            color: #656565;
                                                            background: #fff;
                                                            &:hover {
                                                                color: #a41d23;
                                                                background: #f0f0f0;
                                                                cursor: pointer;
                                                            }
                                                            span.product-sizes-detail {
                                                                height: 100%;
                                                                display: flex;
                                                                justify-content: space-between;
                                                                align-items: center;
                                                                padding-right: 40px;
                                                                padding-left: 18px;
                                                                span.product-sizes-size {
                                                                    text-transform: uppercase;
                                                                    letter-spacing: 1px;
                                                                    font-size: .95em;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .product-options-bottom {
                                margin-top: 10px;
                                .add-to-cart {
                                    .add-to-cart-btn {
                                        button.button.btn-cart {
                                            &:hover {
                                                background: #a41d23;
                                                border: 1px solid #a41d23;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}