section#collection-page {
    margin-top: 40px;
    width: 100%;
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    .hero {
        width: 100%;
        padding: 1em;
        .hero-img {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .hero-text {
            padding: 1em;
            width: 95%;
            margin: 0 auto;
            position: relative;
            background: #fff;
            top: -1em;
            h4.box-header {
                line-height: 1.35;
                text-transform: uppercase;
                color: #a41d23;
                font-size: 12px;
            }
            h5.box-title {
                line-height: 1.35;
                margin: 0.5em 0;
                color: #131313;
                font-size: 24px;
            }
            p.box-text {
                font-size: 16px;
                color: #656565;
                line-height: 1.35;
            }
        }
    }

    .collection-preview-grid {
        width: 100%;
        padding: 2em 1em 4em;
        font-size: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;

        a.sneaker-preview {
            width: 100%;
            display: inline-block;
            text-decoration: none;
            color: #131313;
            text-align: center;
            .image-container {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .sneaker-name {
                font-size: 12px;
            }
            .sneaker-colorway {
                font-size: 12px;
                margin-top: .25em;
            }
            .sneaker-price {
                font-size: 12px;
                color: #656565;
                margin-top: .25em;
            }
        }
    }

}

@media screen and (min-width: 769px) {
    section#collection-page {
        margin-top: 96px;
        .hero {
            line-height: 1.35;
            padding: 1em;
            width: 100%;
            display: grid;
            column-gap: 0;
            grid-template-columns: auto repeat(24, 1fr) auto;
            grid-template-rows: 1em 2em 1fr 1.5em auto 2em 1em;
            height: auto;
            .hero-img-wrapper {
                grid-area: 3 / 8 / 6 / 24;
                height: 100%;
                .hero-img-container {
                    display: flex;
                    justify-content: center;
                    align-items: stretch;
                    height: 100%;
                    .hero-img {
                        position: relative;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .hero-text {
                top: 0;
                display: inline-grid;
                grid-area: 3 / 4 / 5 / 12;
                z-index: 2;
                opacity: 1;
                align-self: center;
                min-width: 21em;
                max-width: 446px;
            }
        }
        .collection-preview-grid {
            font-size: 16px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            a.sneaker-preview {
                .sneaker-name {
                    font-size: 16px;
                }
                .sneaker-colorway {
                    font-size: 16px;
                }
                .sneaker-price {
                    font-size: 16px;
                }
            }
        }
    }
}